node_modules
dist
build

reports
allure-results
allure-report
output

src/utils/file/*.json

package-lock.json
yarn.lock
*.lock
*.log
*.DS_Store
logs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env

cypress/downloads
cypress/screenshots
cypress/videos
